.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 100px;
  color: #555248;
}
.header__logo__button {
  font-family: "Playfair Display", serif;
  background: none;
  border: none;
  display: flex;
  align-items: center;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.header__content__button {
  font-size: 14px;
  margin: 0 30px;
}
.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icons__button {
  margin: 10px;
}

.header__count {
  background-color: #e6c8b4;
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: -20%;
  right: -30%;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorites {
  position: relative;
}
.favorites:hover {
  color: black;
}
